# Ignore Cache and Workspaces Spectacles Template .gitignore
# Ignores both cache and workspaces

Cache/**
PluginsUserPreferences/**
Support/**
BackUp/**

.vscode/
/jsconfig.json
/tsconfig.json
.DS_Store
*.lock

Workspaces/** 